<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${nodeIP}">
    Node IP Address: <span th:text="${nodeIP}"></span>
</div>
<form id="loginForm" action="/login" method="post">
    Username: <input type="text" name="username" required><br>
    Password: <input type="password" name="password" required><br>
    Node IP Address: <input type="text" name="nodeIP" required><br>
    <input type="submit" value="Login">
</form>
<br>
<a href="/register">Register</a>
</body>
</html>
